
p
  font-size: 18px
  font-family: 'HarrisonSerifPro-Light'

h1
  font-size: 26px
  font-family: 'HarrisonSerifPro-Bold'
  line-height: 1.2em

h2
  font-size: 22px
  font-family: 'HarrisonSerifPro-Bold'

h3
  font-size: 16px
  font-family: 'HarrisonSerifPro-Bold'

h4
  font-size: 16px
  font-family: 'HarrisonSerifPro-Bold'
  line-height: 2em
