
p
  font-size: 1.2rem
  font-family: 'HarrisonSerifPro-Light'
  line-height: 1.35em
  +bp (midi)
    font-size: 1rem

h1
  font-size: 1.7rem
  font-family: 'HarrisonSerifPro-Bold'
  line-height: 1.2em
  +bp (midi)
    font-size: 1.5rem
  +bp (mini)
    font-size: 1.2rem

h2
  font-size: 1.2rem
  font-family: 'HarrisonSerifPro-Bold'

h3
  font-size: 0.8rem
  font-family: 'HarrisonSerifPro-Bold'

h4
  font-size: 0.8rem
  font-family: 'HarrisonSerifPro-Bold'
  // line-height: 2em

a
  text-decoration: none
  background-image: linear-gradient(lighten(black, 20%), lighten(black, 20%))
  background-size: 100% 1px
  background-repeat: no-repeat
  background-position: 0 95%
  &:hover
    background-image: none
