h1
  font-size: 1.6rem
  font-family: 'HarrisonSerifPro-Bold'
  line-height: 1.1em

h2
  font-size: 1.2rem
  font-family: 'HarrisonSerifPro-Bold'
  margin-top: 0.5em
  line-height: 1.25em

h3
  font-size: 1rem
  font-family: 'HarrisonSerifPro-Bold'

h4
  font-size: 1rem
  font-family: 'HarrisonSerifPro-Bold'
  // line-height: 2em

a
  text-decoration: none
  background-image: linear-gradient( grey, grey)
  background-size: 100% 1px
  background-repeat: no-repeat
  background-position: 0 95%
  &:hover
    background-image: none
