@import url("//hello.myfonts.net/count/39a5f4")
@import "_fonts.scss"
@import "_mixins.sass"
@import "_destyle.sass"
// @import "_bplabels.sass"
@import "_typo.sass"


body
  margin: 0 auto
  overflow-x: hidden
  -webkit-text-size-adjust: 100%

.section
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-gap: 1.4em
  // background-color: rgba(#a600ff, 0.11)
  // > *
  //   background-color: rgba(#bdff00, 0.26)


.titel
  grid-column: 3/9
  grid-row: 1/2
  +bp(maxi)
    margin-bottom: 0.7em

.text
  grid-column: 5/9
  grid-row: 2/3
  p+p
    margin-top: 1rem
  a
    font-family: "HarrisonSerifPro-LightItalic"
  +bp(mega)
    grid-column: 3/9

hr
  background-image: url(./assets/bilder/section-end.svg)
  background-position: center
  background-repeat: no-repeat
  display: block
  // background-color: rgba(#0075ff, 0.11)
  border: none
  height: 0.8rem
  margin: 6rem 0
  background-size: auto 100%
  +bp(midi)
    margin: 4rem 0
    height: 0.6rem





@import "_zero"
@import "_one"
@import "_two"
@import "_three"
@import "_four"
@import "_blast"
